extends ../layout
block append head
    link(href="/dataTables/dataTables.bootstrap.css", rel="stylesheet")
block content
    .header
        .page-header
        ol.breadcrumb
            li
                a(href="/admin/project") 主页
            li.active 项目管理
            li.active 设备信息
    |
    |
    #page-inner
        .row
            .col-md-12
                // Advanced Tables
                .panel.panel-default
                    .panel-heading
                        | 设备列表
                    |
                    .panel-body
                        .table-responsive
                            table#dataTables-example.table.table-striped.table-bordered.table-hover
                                thead
                                    tr
                                        th 设备名称
                                        th 设备编码
                                        th 使用模式
                                        th 设备类型
                                |
                                tbody
                                    if data.result>0
                                        for item in data.data
                                            tr.gradeA
                                                td= item.name
                                                td= item.id
                                                td= item.modename
                                                td= item.typename
                                    else
                                        tr.gradeC
                                            td 暂无数据
                                            td 暂无数据
                                            td 暂无数据
                                            td 暂无数据
    // DATA TABLE SCRIPTS
    script(src="/dataTables/jquery.dataTables.js")
    |
    script(src="/dataTables/dataTables.bootstrap.js")
    |
    script.
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });

