extends ../layout
block content
    .row
        .col-md-12.col-sm-4
            .panel.panel-warning
                .panel-heading
                    | Warning
                .panel-body
                    p 对不起，您暂时没有授权的项目，请联系管理员绑定授权项目。。。
                |
                .panel-footer
