meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(href="/stylesheets/bootstrap.css" rel="stylesheet")
link(href="/stylesheets/font-awesome.css" rel="stylesheet")
link(href="/stylesheets/checkbox3.min.css" rel="stylesheet")
link(href="/stylesheets/custom-styles.css" rel="stylesheet")
script(src="/javascripts/jquery-1.10.2.js")
script(src="/javascripts/bootstrap.min.js")
